<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <!-- In order for configBuilders to work, we need to transform the connectionStrings node with the configBuilders attribute. That's what' we're doing here -->
  <connectionStrings configBuilders="AzureKeyVault" xdt:Transform="SetAttributes">
    <!-- 
      We want to transform the attributes on the Release build. We want to blank out the connectionString from any local connections. 
      The value "from key vault" will be replaced with what is stored in the key vault . The attribute "name" must match a Secret key from your key vault.
    -->
    <add name="demoEDMXEntities" providerName="System.Data.EntityClient" connectionString="from key vault" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
